*{
    margin: 0;
    padding: 0;
}
.first{
    margin-left: 50px;
    
    

}
.sec{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.img img{
  
    
    width: 600px;
}